<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="MadWordCountDialog">
		<title>Word Count</title>
		<centered>1</centered>
		<id_arg>0</id_arg>
		<style>wxCAPTION|wxSYSTEM_MENU|wxCLOSE_BOX</style>
		<handler function="MadWordCountDialogClose" entry="EVT_CLOSE" />
		<object class="wxBoxSizer" variable="BoxSizer1" member="no">
			<orient>wxVERTICAL</orient>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
					<cols>2</cols>
					<hgap>60</hgap>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_WXSTATICTEXT7" variable="WxStaticText7" member="yes">
							<label>Lines</label>
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
					</object>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_WXSTATICTEXTLINECOUNT" variable="WxStaticTextLineCount" member="yes">
							<label>999999</label>
						</object>
						<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
					</object>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_WXSTATICTEXT1" variable="WxStaticText1" member="yes">
							<label>Words</label>
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
					</object>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_WXSTATICTEXTWORDCOUNT" variable="WxStaticTextWordCount" member="yes">
							<label>999999</label>
						</object>
						<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
					</object>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_WXSTATICTEXT2" variable="WxStaticText2" member="yes">
							<label>Characters (no space)</label>
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
					</object>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_WXSTATICTEXTCHARCOUNT" variable="WxStaticTextCharCount" member="yes">
							<label>999999</label>
						</object>
						<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
					</object>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_WXSTATICTEXT3" variable="WxStaticText3" member="yes">
							<label>Characters (with spaces)</label>
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
					</object>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_WXSTATICTEXTSPACECOUNT" variable="WxStaticTextSpaceCount" member="yes">
							<label>999999</label>
						</object>
						<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
					</object>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_WXSTATICTEXT4" variable="WxStaticText4" member="yes">
							<label>Halfwidth Words</label>
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
					</object>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_WXSTATICTEXTHALFWIDTHCOUNT" variable="WxStaticTextHalfwidthCount" member="yes">
							<label>999999</label>
						</object>
						<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
					</object>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_WXSTATICTEXT5" variable="WxStaticText5" member="yes">
							<label>Fullwidth Words</label>
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
					</object>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_WXSTATICTEXTFULLWIDTHCOUNT" variable="WxStaticTextFullwidthCount" member="yes">
							<label>999999</label>
						</object>
						<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
					</object>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>4</border>
			</object>
			<object class="sizeritem">
				<object class="wxStaticLine" name="ID_STATICLINE1" variable="StaticLine1" member="yes">
					<size>10,-1</size>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>2</border>
			</object>
			<object class="sizeritem">
				<object class="wxStaticText" name="ID_STATICTEXT7" variable="StaticText7" member="yes">
					<label>Detail Information of Characters:</label>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>2</border>
			</object>
			<object class="sizeritem">
				<object class="wxTextCtrl" name="ID_WXMEMO1" variable="WxMemo1" member="yes">
					<size>440,160</size>
					<style>wxTE_MULTILINE|wxTE_DONTWRAP</style>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>4</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxButton" name="wxID_CANCEL" variable="Button1" member="yes">
					<label>&amp;Close</label>
					<default>1</default>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
			</object>
		</object>
	</object>
</wxsmith>
